*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    background: #11101d;
    padding: 6px 14px;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo_content .logo img{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 90%;
    top: 15px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul #Searchbar{
    display: flex;
    align-items: center;
    justify-content: start;
}

.sidebar ul #Searchbar img{
    padding-right: 10px;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar ul li a img{
    height: 30px;
    min-width: 30px;
    border-radius: 12px;
    line-height: 50px;
    padding-right: 10px;
}