*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #262e31;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    width:10%;
}

.imgbx{
    padding-left: 10px;
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.5s;
    z-index: calc(1 + var(--i));
    opacity: calc(1 - (0.2 * var(--j)));
}

.imgbx:hover img{
    transform: rotate(-30deg) skew(25deg)  translateX(calc(
        35px*var(--i) )) translateY(calc(-35px*var(--i) ));
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.25);
}